@charset"utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px 20px 0px 20px;
}

.cabecalho{        
    width: 95vw;
    
}

.navegacao{
    display: flex;
    float: right;
    margin-right: 20px;
    
}

.corpo{
    width: 95vw;
    margin: 20px 0px 0px 0px;
    display: flex;
    float: left;
    clear: left;
}

.corpo-esquerda{
    float: left;
    width: 22vw;
}

.corpo.centro{
    float: left;
    width: 46vw;
}

.corpo.direita{
    display: flex;
    float: left;
    width: 22vw;
}

.rodape{
    width: 90vw;
    border: 2px;
    border-color: white;
    border-top-color: black; 
    border-style: solid;
    float: left;
    padding: 10px 0px 0px 5px;
}

.logo-resize{
    display: flex;
    float: left;
    width: 380px;
    height: auto;
    margin: 20px 0px 0px 0px;
}



.find{
    display: flex;
    float: right;
    
    margin: 20px 20px 0px 0px;
}

.pesquisa{
    display: flex;
    float: right;
    clear: right;
    margin: 20px 0px 0px 0px;
}

.menu{
    display: flex;
    float: right;
    clear: right;
}

.busca-avancada{
    display: flex;
    float: right;
    clear: right;
    margin: 00px 0px 20px 0px;
}



.navegacao-li{
    display: inline;
    border: 1px;
    border-color: white;
    border-right-color: black; 
    border-style: solid;
    padding: 5px 20px 5px 20px;
}

.menu-li{
    display: inline;
    border: 1px;
    border-color: black; 
    border-style: solid;
    margin: 0px 5px 0px 5px;
    padding: 0px 50px 0px 50px;
    
}





.banner{
    width: 20vw;
    height: auto;
}


.menu-vertical{
    display: flex;
    float: left;
    clear: left;
    
}

.vertical-li{
    width: 19vw;
    list-style: none;    
    border: 1px;
    border-color: black; 
    border-style: solid;
    margin: 10px 0px 10px 0px;
    padding: 8px 5px 8px 5px;
}

.populares{
    display: flex;
    float: left;
    clear: left;
}

.links-populares{
    display: flex;
    float: left;
    clear: left;
    border: 1px;
    border-color: green; 
    border-style: solid;
    padding: 2px 10px 2px 10px;
    width: 18vw;
    background-color: rgb(184, 211, 184);

}
.links-li{ 
    list-style:disc;   
    
    margin: 0px 10px 0px 10px;
}


a:link{
    color: black;
    text-decoration: none;
    text-align: center;
}

.artigo{
    width: 46vw;
    border: 1px;
    border-color: black;
    border-style:solid;
    background-color: rgb(184, 211, 184);
    padding: 8px 4px 8px 4px;
    margin: 4px 4px 4px 4px;    
}
.artigo-titulo{
    display: flex;
    float: left;
    clear: left;
}
.artigo-texto{
    clear: left;
}

.artigo-imagem{
    display: flex;
    float: left;
    width: 20vw;
    height: auto;
    padding: 3px 3px 3px 3px;
}

.spot{
    display: flex;
    float: left;
    width: 22vw;
    padding: 0px 0px 50px 0px;
    
}

.spot-imagem{
    width: 26vw;
    height: auto;
    padding: 3px 3px 3px 3px;
    position: absolute;
}

.spot-texto{
    position: relative;
    float: left;
    margin: 100px 10px 10px 10px;
    background-color: rgba(184, 211, 184, 0.5);
    
}

.spot2{
    display: flex;
    float: left;
    width: 26vw;
    background-color: rgb(184, 211, 184);
    margin: 20px 3px 10px 3px;
    padding: 10px 2px 10px 2px;
}


.spot2-imagem{
    display: flex;
    float: left;
    width: 13vw;
    height: auto;
    margin: 3px 3px 3px 3px;
}

.spot2-texto{
    position: relative;
    margin: 40px 1px 1px 7px;
}

.spot3{
    display: flex;
    float: left;
    width: 26vw;
    clear: left;
    background-color: rgb(184, 211, 184);
    margin: 10px 3px 20px 3px;
    padding: 5px 2px 10px 2px;
}

.navegacao-rodape{
    display: flex;
    float: left;    
}

.texto-rodape{
    display: flex;
    float: right;
    padding: 0px 20px 0px 0px;
}
