@charset"utf-8";



.cabecalho{
    grid-area: cabecalho;
    display: inline;
    list-style-type: none;
    justify-self: right;
    
}
.item-cabecalho{
    display: inline;
    margin: 2px;
    padding: 3px;
    border: 1px;
    border-color: white;
    border-right-color: black; 
    border-style: solid;
}



.sub-cabecalho{
    grid-area: "sub-cabecalho";
    justify-self: right;   
}

.logo{
    grid-area: "logo";
    
}

.busca{
    grid-area: "busca";
}
.find{
    grid-area: "find";
}

.busca-avancada{
    grid-area: "busca-avancada";
}

.inline{
    display: inline-grid;
}

.logo-resize{
    width: 240px;
    height: auto;
}

.navegacao-horizontal{
    grid-area: "navegacao-horizontal";
    

}

.navegacao-vertical{
    grid-area: navegacao-vertical;

}

/*.sub-navegacao-vertical{

}*/

.principal{
    grid-area: principal;

}

/*.sub-principal{

}*/

.noticias{
    grid-area: noticias;
}

.rodape{
    grid-area: rodape;
}

.subgrid-cabecalho{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo espaco find busca"
    "logo espaco espaco busca-avancada"
    "logo navegacao-horizontal navegacao-horizontal navegacao-horizontal"
    ;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "cabecalho cabecalho cabecalho"
    "sub-cabecalho sub-cabecalho sub-cabecalho"
    "navegacao-vertical principal noticias"
    "rodape rodape rodape"    
    ;
}

